body {
    background: #102040 100%;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.scroll {
    position: absolute;
    top: 0;
    left: 5%;
    display: block;
    width: 1px;
    height: 0;
    margin-top: 50vh;
    padding: 0;
    background: #ffffff;
}

.red {
    background: #ff0000;
}

.orange {
    background: #ff8000;
}

.gold {
    background: #ffa000;
}

.light-blue {
    background: #00d0ff;
}

.transition {
    transition: 2s;
    transition-timing-function: cubic-bezier(1,0,1,1);

}

.two {
    left: 105%;
    transition: 0;
    width: 10px;
    height: 50vh;
    margin-top: 25vh;
}




/* .scroll {
    position: absolute;
    top: -5%;
    display: block;
    width: 100vw;
    height: 2.5px;
    margin: 0;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 0 15px 2.5px #ffffff;
    transition: 4s;
}

.two {
    top: 105%;
} */