body {
    background: #102040 100%;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    border: 2.5px solid #ffffff;
    border-radius: 10px;
    position: absolute;
    margin: 20vh 5vw;
    height: 60vh;
    width: 90vw;
}

.border-overlay{
    border: 3px solid #ffffff;
    border-radius: 10px;
    position: absolute;
    margin: 20vh 5vw;
    height: 60vh;
    width: 90vw;
}

.scroll {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 60vh;
    padding: 0;
    background: #ffffff;
}

.one {
    background: #a0ffe0;
}

.two {
    background: #80ffc0;
}

.three {
    background: #40ffa0;
}
.four {
    background: #00ff80;
}


.transition {
    transition: 2.5s;
    transition-timing-function: cubic-bezier(1,0,0.5,1);
}

.end {
    left: calc(100% - 2.5vw);
    transition: 0;
    width: 2.5vw;
    height: 60vh;
}
