body {
    background: #102040 100%;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    border: 2.5px solid #ffffff;
    border-radius: 10px;
    position: absolute;
    margin: 20vh 5vw;
    height: 60vh;
    width: 90vw;
}

.border-overlay{
    border: 3px solid #ffffff;
    border-radius: 10px;
    position: absolute;
    margin: 20vh 5vw;
    height: 60vh;
    width: 90vw;
}

.scroll {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 60vh;
    padding: 0;
    background: #ffffff;
}

.yellow {
    background: #ffff00;
}
.orange {
    background: #ff8000;
}
.red {
    background: #ff0000;
}
.pink {
    background: #ff0080;
}
.magenta {
    background: #ff00ff;
}
.violet {
    background: #8000ff;
}
.blue {
    background: #0000ff;
}
.turq {
    background: #00ffff;
}
.greenish {
    background: #00ff80;
}
.green {
    background: #00ff00;
}

.transition {
    transition: 2.5s;
    transition-timing-function: cubic-bezier(1,0,0.5,1);

}

.two {
    left: calc(100% - 25px);
    transition: 0;
    width: 25px;
    height: 60vh;
    /* border-radius: 0 6.66px 6.66px 0; */
    /* margin-top: 0; */
}
